<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Fluppit_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{155,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,161}}</string>
                <key>sourceSize</key>
                <string>{155,161}</string>
            </dict>
            <key>Fluppit_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,2},{151,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,161}}</string>
                <key>sourceSize</key>
                <string>{151,161}</string>
            </dict>
            <key>Fluppit_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{155,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,158}}</string>
                <key>sourceSize</key>
                <string>{155,158}</string>
            </dict>
            <key>Fluppit_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,165},{154,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,141}}</string>
                <key>sourceSize</key>
                <string>{154,141}</string>
            </dict>
            <key>Fluppit_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,165},{151,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,137}}</string>
                <key>sourceSize</key>
                <string>{151,137}</string>
            </dict>
            <key>Fluppit_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,165},{146,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,121}}</string>
                <key>sourceSize</key>
                <string>{146,121}</string>
            </dict>
            <key>Fluppit_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{150,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,115}}</string>
                <key>sourceSize</key>
                <string>{150,115}</string>
            </dict>
            <key>Fluppit_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,308},{153,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,115}}</string>
                <key>sourceSize</key>
                <string>{153,115}</string>
            </dict>
            <key>Fluppit_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,308},{151,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,115}}</string>
                <key>sourceSize</key>
                <string>{151,115}</string>
            </dict>
            <key>Fluppit_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,425},{151,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,115}}</string>
                <key>sourceSize</key>
                <string>{151,115}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>flupp2.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6775a322b645689a4afda952cca0df5b$</string>
            <key>textureFileName</key>
            <string>flupp2.png</string>
        </dict>
    </dict>
</plist>
